################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots
/.vs/CSOPESY-MO1/copilot-chat/71072633/sessions
/.vs/CSOPESY-MO1/CopilotIndices/17.14.1204.46620
/.vs/CSOPESY-MO1/FileContentIndex
/.vs/CSOPESY-MO1/v17/ipch/AutoPCH
/.vs/VSWorkspaceState.json
/.vs/CSOPESY-MO1/v17
/.vs/slnx.sqlite
/csopesy-log.txt
